---
- name: Process Application Profiles for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    payload: "{{ lookup('template', 'ap.json.j2') }}"
    path: "/api/mo/uni/tn-{{ tenant.name }}.json"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/ap-{{ ap.name }}"

  loop: "{{ tenant.application_profiles | default([]) }}"
  loop_control:
    loop_var: ap
    label: "{{ [ tenant.name, ap.name ] | join('/') }}"

  when:
    - ap.state is defined