---
- name: Process BD for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/tn-{{ tenant.name }}.json"
    payload: "{{ lookup('template', 'bd.json.j2') }}"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/BD-{{ bd.name }}"
    bd_name: "{{ bd_name_prefix ~ bd.name ~ bd_name_suffix }}"

  loop: "{{ tenant.bridge_domains | default([]) }}"
  loop_control:
    loop_var: bd
    label: "{{ [ tenant.name, bd.name ] | join('/') }}"

  when:
    - bd.state is defined

  no_log: true

