---
- name: Process Contract for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/tn-{{ tenant.name}}.json"
    payload: "{{ lookup('template', 'contract.json.j2') }}"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/ctr-{{ contract.name }}"
    contract_name: "{{ contract_name_prefix ~ contract.name ~ contract_name_suffix }}"

  loop: "{{ tenant.contracts | default([]) }}"
  loop_control:
    loop_var: contract
    label: "{{ [ tenant.name, contract.name ] | join('/') }}"

  when:
    - contract.state is defined

