---
- name: Process EPG for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    ap: "{{ ap_epg_pair.0 }}"
    epg: "{{ ap_epg_pair.1 }}"
    ap_name: "{{ ap_name_prefix ~ ap.name ~ ap_name_suffix }}"
    epg_name: "{{ epg_name_prefix ~ epg.name ~ epg_name_suffix }}"
    payload: "{{ lookup('template', 'epg.json.j2') }}"
    path: "/api/mo/uni/tn-{{ tenant.name }}/ap-{{ ap.name }}.json"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/ap-{{ ap.name }}/epg-{{ epg.name }}"

  loop: "{{ query('subelements', tenant.application_profiles | default([]), 'epgs', {'skip_missing': True}) }}"
  loop_control:
    loop_var: ap_epg_pair
    label: "{{ [ tenant.name, ap.name, epg.name ] | join('/') }}"

  when:
    - epg.state is defined
    - ( ap.state is defined and ap.state != 'absent' ) or ap.state is not defined

  no_log: true