---
- name: Process L3Out for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/tn-{{ tenant.name }}.json"
    payload: "{{ lookup('template', 'l3out.json.j2') }}"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/out-{{ l3out.name }}"

  loop: "{{ tenant.l3outs | default([]) }}"
  loop_control:
    loop_var: l3out
    label: "{{ [ tenant.name, l3out.name ] | join('/') }}"

  when:
    - l3out.state is defined

  no_log: true

- name: Process L3Out External EPG for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/tn-{{ tenant.name }}.json"
    payload: "{{ lookup('template', 'l3out_ext_epg.json.j2') }}"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/out-{{ l3out.name }}/instP-*"

  loop: "{{ tenant.l3outs | default([]) }}"
  loop_control:
    loop_var: l3out
    label: "{{ [ tenant.name, l3out.name ] | join('/') }}"

  when:
    - l3out.state is defined

  no_log: true