---
- name: Process Tenant
  include_tasks: wrapper_api_call.yml

  vars:
    payload: "{{ lookup('template', 'tenant.json.j2') }}"
    path: "/api/mo/uni.json"
    dn: "/api/mo/uni/tn-{{ tenant.name }}"
    tenant_name: "{{ tenant_name_prefix ~ tenant.name ~ tenant_name_suffix }}"

  when:
    - tenant.state is defined