---
- name: Process VRF for tenant {{ tenant.name }}
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/tn-{{ tenant.name }}.json"
    payload: "{{ lookup('template', 'vrf.json.j2') }}"
    dn: "/api/mo/uni/tn-{{ tenant.name }}/ctx-{{ vrf.name }}"
    vrf_name: "{{ vrf_name_prefix ~ vrf.name ~ vrf_name_suffix }}"

  loop: "{{ tenant.vrfs | default([]) }}"
  loop_control:
    loop_var: vrf
    label: "{{ [ tenant.name, vrf.name ] | join('/') }}"

  when:
    - vrf.state is defined

  no_log: true

