---
- name: ENSURE APPLICATION CONFIGURATION EXISTS
  hosts: apic
  connection: local
  gather_facts: False
  vars:
    async_job_timeout: 5
    async_poll_interval: 1
    async_job_throttle: 4

  tasks:
    - set_fact:
        successful_calls: []
        failed_calls: []
        ipg_to_type_map: {} # structure used by the node intf task jinja template to build the proper tDN based on the ipg type
        # {
        #     "<server_name>": [ accportgrp | accbundle ]
        # }

    - set_fact: # Build a dict with the list of 
        ipg_to_type_map: "{{ ipg_to_type_map | combine({ ipg.name : type }) }}"
      loop: "{{ fabric.intf_policy_groups | default([]) }}"
      loop_control:
        loop_var: ipg
      vars:
        type: "{{ 'accportgrp' if ipg.type == 'access' else 'accbundle' }}"
      no_log: true

    - debug:
        var: ipg_to_type_map

    # - name: Apply fabric role to the fabric
    #   include_role:
    #     name: fabric
    #   vars:
    #     leaf_intf_profiles: "{{ fabric.leaf_intf_profiles | default([]) }}"
    #     leaf_profiles: "{{ fabric.leaf_profiles | default([]) }}"
    #     intf_policies: "{{ fabric.intf_policies | default([]) }}"
    #     intf_policy_groups: "{{ fabric.intf_policy_groups | default([]) }}"
    #     domains: "{{ fabric.domains | default([]) }}"
    #     vlan_pools: "{{ fabric.vlan_pools | default([]) }}"
    #     aaeps: "{{ fabric.aaeps | default([]) }}"

    # - name: Apply node role to each node
    #   include_role:
    #     name: node
    #   loop: "{{ nodes }}"
    #   loop_control:
    #     loop_var: node
    #     label: "{{ node.name }}"

    - name: Apply tenant role to each tenant
      include_role:
        name: tenant
      loop: "{{ tenants | default( [] ) }}"
      loop_control:
        loop_var: tenant
        label: "{{ tenant.name }}"

    - name: Printing successful call
      debug:
        msg: "{{ successful_calls }} "

    - name: Printing failing call
      debug:
        msg: "{{ failed_calls }} "