---
- name: ENSURE APPLICATION CONFIGURATION EXISTS
  hosts: apic
  connection: local
  gather_facts: False
  vars:
    loop_retries: 3
    retry_delay: 3
    aci_creds: &aci_login
      host: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      use_proxy: no
      use_ssl: yes
      validate_certs: no
      annotation: orchestrator:ansible
    no_log: true

  tasks:
    - set_fact:
        intf_to_leaf_map: {} # crete by the fabric role and used by the node role
        intf_pg_map: {} # create by the node role and use by the tenant role
        leaf_to_vpc_domain_map: {}


    - name: Apply fabric policies role
      include_role:
        name: fabric
      vars:
        intf_policies: "{{ fabric.intf_policies | default([]) }}"
        intf_policy_groups: "{{ fabric.intf_policy_groups | default([]) }}"
        domains: "{{ fabric.domains | default([]) }}"
        vlan_pools: "{{ fabric.vlan_pools | default([]) }}"
        aaeps: "{{ fabric.aaeps | default([]) }}"


    # - name: Apply node role to each node
    #   include_role:
    #     name: node
    #   loop: "{{ nodes }}"
    #   loop_control:
    #     loop_var: node_vars
    #     label: "{{ node_vars.name }}"

    # - name: Apply tenant role to each tenant
    #   include_role:
    #     name: tenant
    #   loop: "{{ tenants | default( [] ) }}"
    #   loop_control:
    #     loop_var: tenant
    #     label: "{{ tenant.name }}"
