---
- name: ENSURE APPLICATION CONFIGURATION EXISTS
  hosts: apic
  connection: local
  gather_facts: False
  vars:
    aci_cfg_directory: intent/
    schema_location: schema.json
    enable_fabric_role: true
    enable_node_role: true
    enable_tenant_role: true

  tasks:
    #
    # Initialize accumulators
    #
    - ansible.builtin.set_fact:
        intent: {}
        successful_calls: []
        failed_calls: []
        ipg_to_type_map: {} # structure used by the node intf task jinja template to build the proper tDN based on the ipg type
        # {
        #     "<server_name>": {
        #          ipg_type: [ accportgrp | accbundle ]
        #          lag_type: [ node | link ]
        # }
      no_log: true

    #
    # Merging the different config files to form the intent
    #
    - ansible.builtin.find: # Find all YAML files in directory and subdirectories
        paths: "{{ aci_cfg_directory }}"
        recurse: yes
        patterns: ["*.yml", "*.yaml"]
      register: all_cfg_files
      no_log: true

    - ansible.builtin.set_fact: # Merge each files into the merged_aci_cfg var
        intent: >-
          {{ intent
             | combine(file_content,
                       recursive=True,
                       list_merge='append') }}
      vars:
        file_content: "{{ lookup('file', item.path) | from_yaml }}"

      loop: "{{ all_cfg_files.files }}"
      loop_control:
        label: "{{ item.path }}"
      no_log: true

    #
    # Validing the intent against the schema
    #
    - ansible.utils.validate: # Validate app_config against schema
        data: "{{ intent | from_yaml | to_json }}"
        criteria: "{{ lookup('ansible.builtin.file', schema_location ) }}"
        engine: ansible.utils.jsonschema
      vars:
        ansible_validate_jsonschema_draft: draft7
        ansible_validate_jsonschema_check_format: true

    #
    # Building temporary structures
    #
    - set_fact: # Building the ipg_to_type_map dictionary
        ipg_to_type_map: "{{ ipg_to_type_map | combine( { ipg.name : { 'ipg_type': ipg_type, 'lag_type': lag_type }} ) }}"

      loop: "{{ intent.fabric.intf_policy_groups | default([]) }}"
      loop_control:
        loop_var: ipg

      vars:
        ipg_type: "{{ 'accportgrp' if ipg.type == 'access' else 'accbundle' }}"
        lag_type: "{{ 'node' if ipg.type == 'vpc' else 'link' }}" 
      no_log: true

    #
    # Applying the roles
    #
    - name: Apply fabric role to the fabric
      include_role:
        name: fabric
      vars:
        leaf_intf_profiles: "{{ intent.fabric.leaf_intf_profiles | default([]) }}"
        leaf_profiles: "{{ intent.fabric.leaf_profiles | default([]) }}"
        intf_policies: "{{ intent.fabric.intf_policies | default([]) }}"
        intf_policy_groups: "{{ intent.fabric.intf_policy_groups | default([]) }}"
        domains: "{{ intent.fabric.domains | default([]) }}"
        vlan_pools: "{{ intent.fabric.vlan_pools | default([]) }}"
        aaeps: "{{ intent.fabric.aaeps | default([]) }}"
      when:
        - enable_fabric_role

    - name: Apply node role to each node
      include_role:
        name: node
      loop: "{{ intent.nodes }}"
      loop_control:
        loop_var: node
        label: "{{ node.name }}"
      when:
        - enable_node_role

    - name: Apply tenant role to each tenant
      include_role:
        name: tenant
      loop: "{{ intent.tenants | default( [] ) }}"
      loop_control:
        loop_var: tenant
        label: "{{ tenant.name }}"
      when:
        - enable_tenant_role

    #
    # Printing the results
    #
    - name: Printing successful call
      debug:
        msg: "{{ successful_calls }} "

    - name: Printing failing call
      debug:
        msg: "{{ failed_calls }} "