---
- name: ENSURE APPLICATION CONFIGURATION EXISTS
  hosts: apic
  connection: local
  gather_facts: False
  vars:
    aci_cfg_directory: /config/group_vars/apic/
    enable_fabric_role: false
    enable_node_role: false
    enable_tenant_role: true

  tasks:
    #
    # Initialization
    #
    - ansible.builtin.set_fact: # Initialize accumulators
        merged_aci_cfg: {}
        successful_calls: []
        failed_calls: []
        ipg_to_type_map: {} # structure used by the node intf task jinja template to build the proper tDN based on the ipg type
        # {
        #     "<server_name>": {
        #          ipg_type: [ accportgrp | accbundle ]
        #          lag_type: [ node | link ]
        # }
      no_log: true

    - ansible.builtin.find: # Find all YAML files in directory and subdirectories
        paths: "{{ aci_cfg_directory }}"
        recurse: yes
        patterns: ["*.yml", "*.yaml"]
      register: all_cfg_files
      no_log: true

    - ansible.builtin.set_fact: # Merge each files into the merged_aci_cfg var
        merged_aci_cfg: >-
          {{ merged_aci_cfg
             | combine(file_content,
                       recursive=True,
                       list_merge='append') }}
      vars:
        file_content: "{{ lookup('file', item.path) | from_yaml }}"

      loop: "{{ all_cfg_files.files }}"
      loop_control:
        label: "{{ item.path }}"
      no_log: true

    - set_fact: # Building the ipg_to_type_map dictionary
        ipg_to_type_map: "{{ ipg_to_type_map | combine( { ipg.name : { 'ipg_type': ipg_type, 'lag_type': lag_type }} ) }}"

      loop: "{{ fabric.intf_policy_groups | default([]) }}"
      loop_control:
        loop_var: ipg

      vars:
        ipg_type: "{{ 'accportgrp' if ipg.type == 'access' else 'accbundle' }}"
        lag_type: "{{ 'node' if ipg.type == 'vpc' else 'link' }}" 
      no_log: true

    #
    # Applying the roles
    #
    - name: Apply fabric role to the fabric
      include_role:
        name: fabric
      vars:
        leaf_intf_profiles: "{{ merged_aci_cfg.fabric.leaf_intf_profiles | default([]) }}"
        leaf_profiles: "{{ merged_aci_cfg.fabric.leaf_profiles | default([]) }}"
        intf_policies: "{{ merged_aci_cfg.fabric.intf_policies | default([]) }}"
        intf_policy_groups: "{{ merged_aci_cfg.fabric.intf_policy_groups | default([]) }}"
        domains: "{{ merged_aci_cfg.fabric.domains | default([]) }}"
        vlan_pools: "{{ merged_aci_cfg.fabric.vlan_pools | default([]) }}"
        aaeps: "{{ merged_aci_cfg.fabric.aaeps | default([]) }}"
      when:
        - enable_fabric_role

    - name: Apply node role to each node
      include_role:
        name: node
      loop: "{{ merged_aci_cfg.nodes }}"
      loop_control:
        loop_var: node
        label: "{{ node.name }}"
      when:
        - enable_node_role

    - name: Apply tenant role to each tenant
      include_role:
        name: tenant
      loop: "{{ merged_aci_cfg.tenants | default( [] ) }}"
      loop_control:
        loop_var: tenant
        label: "{{ tenant.name }}"
      when:
        - enable_tenant_role

    #
    # Printing the results
    #
    - name: Printing successful call
      debug:
        msg: "{{ successful_calls }} "

    - name: Printing failing call
      debug:
        msg: "{{ failed_calls }} "