{
  "fabricRsDecommissionNode": {
    "attributes": {
      "tDn": "topology/pod-{{ node.pod_id }}/node-{{ node.leaf_id }}",
      "status": "created,modified",
      "removeFromController": "true"
    }
  }
}
