{
  "fvAp": {
    "attributes": {
      "name": "{{ ap_name }}",
      "status": "{{ 'deleted' if ap.state is defined and ap.state == 'absent' else 'created,modified' }}",
      "descr": "{{ ap.description | default(ap_default_description) }}"
    }
    {% if ap.state | default('present') != 'absent' and ap.tags is defined and ap.tags | length > 0 %}
    ,
    "children": [
      {% for tag in ap.tags %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}