{
  "fvBD": {
    "attributes": {
      "name": "{{ bd_name }}",
      "status": "{{ 'deleted' if bd.state is defined and bd.state == 'absent' else 'created,modified' }}"
      {% if bd.state | default('present') != 'absent' %}
      ,
      "descr": "{{ bd.description | default(bd_default_description) }}",
      "epMoveDetectMode": "{{ bd.endpoint_move_detection | default(bd_default_endpoint_move_detection) }}",

      {% set unicast_routing = bd.unicast_routing | default(false) %}
      "unicastRoute": "{{ 'yes' if unicast_routing else 'no' }}",
      "unkMacUcastAct": "{{ bd.l2_unknown_unicast | default(bd_default_l2_unknown_unicast_routing_enabled if unicast_routing else bd_default_l2_unknown_unicast_routing_disabled) }}",
      "unkMcastAct": "{{ bd.l3_unknown_multicast | default(bd_default_l3_unknown_multicast_routing_enabled if unicast_routing else bd_default_l3_unknown_multicast_routing_disabled) }}",
      "arpFlood": "{{ 'yes' if bd.arp_flood | default(bd_default_arp_flood_routing_enabled if unicast_routing else bd_default_arp_flood_routing_disabled) else 'no' }}"

      {% endif %}
    }
    {% if bd.state | default('present') != 'absent' %}
    ,
    "children": [
      {
        "fvRsCtx": {
          "attributes": {
            "tnFvCtxName": "{{ bd.vrf }}",
            "status": "created,modified"
          }
        }
      }

      {% for tag in bd.tags | default( [] ) %}
      ,
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }      
      {% endfor %}

      {% for subnet in bd.subnets | default( [] ) %}
      ,
      {
        "fvSubnet": {
          "attributes": {
            "ip": "{{ subnet.ip }}",
            "preferred": "{{ 'true' if loop.first else 'false'}}",

            {% if subnet.scope is defined %}
            "scope": "{{ subnet.scope }}",
            {% endif %}

            "status": "{{ 'deleted' if subnet.state is defined and subnet.state == 'absent' else 'created,modified' }}"

          }
        }
      }
      {% endfor %}

      {% for l3out in bd.l3outs | default( [] ) %}
      ,
      {
        "fvRsBDToOut": {
          "attributes": {
            "tnL3extOutName": "{{ l3out.name }}",
            "status": "{{ 'deleted' if l3out.state is defined and l3out.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endfor %}

    ]
    {% endif %}
  }
}