{% set ctrl_list = [] %}
{% if peer.send_community | default(bgp_peer_default_send_community) %}{% set _ = ctrl_list.append('send-com') %}{% endif %}
{% if peer.send_extended_community | default(bgp_peer_default_send_extended_community) %}{% set _ = ctrl_list.append('send-ext-com') %}{% endif %}
{% set has_local_asn = peer.local_asn is defined %}
{% set has_route_maps = peer.route_maps | default( [] ) | length > 0 %}
{
    "bgpPeerP": {
        "attributes": {
            "addr": "{{ peer.peer_address }}",
            "addrTCtrl": "af-mcast,af-ucast",
            "adminSt": "enabled",
            "connectivityType": "tenant",
            "ctrl": "{{ ctrl_list | join(',') }}",
            "descr": "{{ peer.description | default(bgp_peer_default_description) }}",
            "peerCtrl": "{{ 'bfd' if peer.bfd | default(bgp_peer_default_bfd) else '' }}",
            "ttl": "{{ peer.ttl | default(bgp_peer_default_ttl) }}",
            "weight": "{{ peer.weight | default(bgp_peer_default_weight) }}",
            "status": "{{ 'deleted' if peer.state is defined and peer.state == 'absent' else 'created,modified' }}"
        },
        "children": [
            {
                "bgpAsP": {
                    "attributes": {
                        "asn": "{{ peer.remote_asn }}"
                    }
                }
            }
            {% if has_local_asn %},{% endif %}
            {% if has_local_asn %}
            {
                "bgpLocalAsnP": {
                    "attributes": {
                        "asnPropagate": "replace-as",
                        "localAsn": "{{ peer.local_asn }}"
                    }
                }
            }
            {% endif %}
            {% if has_route_maps %},{% endif %}
            {% for rm in peer.route_maps | default( [] ) %}
            {
                "bgpRsPeerToProfile": {
                    "attributes": {
                        "tDn": "uni/tn-{{ tenant.name }}/prof-{{ rm.name }}",
                        "direction": "{{ rm.direction }}",
                        "status": "{{ 'deleted' if rm.state is defined and rm.state == 'absent' else 'created,modified' }}"
                    }
                }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
}
