{
  "vzBrCP": {
    "attributes": {
      "name": "{{ contract_name }}",
      "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
      {% if contract.state | default('present') != 'absent' %}
      ,
      "descr": "{{ contract.description | default(contract_default_description) }}",
      "scope": "{{ contract.scope | default(contract_default_scope) }}"
      {% endif %}
    }
    {% if contract.state | default('present') != 'absent' %}
    ,
    "children": [
      {% for tag in contract.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

      {% if contract.tags|default([])| length > 0 and contract.subjects|default([])| length > 0 %},{% endif %}

      {% for subject in contract.subjects | default( [] ) %}
      {
        "vzSubj": {
          "attributes": {
            "name": "{{ subject_name_prefix ~ subject.name ~ subject_name_suffix }}",
            "status": "{{ 'deleted' if subject.state is defined and subject.state == 'absent' else 'created,modified' }}"
            {% if subject.state|default( 'present') != 'absent' %}
            ,
            "descr": "{{ subject.description | default(subject_default_description) }}",
            "revFltPorts": "{{ subject.reverse_filter_port | default( subject_default_reverse_filter_port ) }}"
            {% endif %}
          },
          "children": [
            {% for filter in subject.filters | default( [] ) %}
            {% set filter_log = filter.log | default(subject_default_log) %}
            {% set filter_policy_compression = filter.policy_compression | default(subject_default_policy_compression) %}
            {% set filter_directive_parts = [] %}
            {% if filter_log %}{% set _ = filter_directive_parts.append('log') %}{% endif %}
            {% if filter_policy_compression %}{% set _ = filter_directive_parts.append('no_stats') %}{% endif %}
            {
              "vzRsSubjFiltAtt": {
                "attributes": {
                  "tnVzFilterName": "{{ filter_name_prefix ~ filter.name ~ filter_name_suffix }}",
                  "status": "{{ 'deleted' if filter.state is defined and filter.state == 'absent' else 'created,modified' }}"
                  {% if filter.state|default( 'present') != 'absent' %}
                  ,
                  "action": "{{ filter.action | default( subject_default_action )}}",
                  "directives": "{{ filter_directive_parts | join(',') }}"
                  {% endif %}
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}