{
  "vzBrCP": {
    "attributes": {
      "name": "{{ contract_name }}",
      "status": "{{ 'deleted' if contract.state == 'absent' else 'created,modified' }}"
      {% if contract.state == 'present' %}
      ,
      "descr": "{{ contract.description | default('') }}"
      {% endif %}
    }
    {% if contract.state == 'present' %}
    ,
    "children": [
      {% for tag in contract.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

      {% if contract.tags|default([])| length > 0 and contract.subjects|default([])| length > 0 %},{% endif %}

      {% for subject in contract.subjects | default( [] ) %}
      {
        "vzSubj": {
          "attributes": {
            "name": "{{ subject_name_prefix ~ subject.name ~ subject_name_suffix }}",
            "status": "{{ 'deleted' if subject.state is defined and subject.state == 'absent' else 'created,modified' }}"
            {% if subject.state|default( 'present') != 'absent' %}
            ,
            "descr": "{{ subject.name | default('') }}",
            "revFltPorts": "{{ subject.reverse_filter_port | default( subject_default_reverse_filter_port ) }}"
            {% endif %}
          },
          "children": [
            {% for filter in subject.filters | default( [] ) %}
            {
              "vzRsSubjFiltAtt": {
                "attributes": {
                  "tnVzFilterName": "{{ filter_name_prefix ~ filter.name ~ filter_name_suffix }}",
                  "status": "{{ 'deleted' if filter.state is defined and filter.state == 'absent' else 'created,modified' }}"
                  {% if filter.state|default( 'present') != 'absent' %}
                  ,
                  "action": "{{ filter.action | default( subject_default_action )}}"
                  {% endif %}
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}