{
  "fvAEPg": {
    "attributes": {
      "name": "{{ epg.name }}",
      "status": "{{ 'deleted' if epg.state == 'absent' else 'created,modified' }}"
      {% if epg.state == 'present' %},
      "descr": "{{ epg.description | default('') }}"
      {% endif %}
    }
    {% if epg.state == 'present' %}
    ,
    "children": [
      {
        "fvRsBd": {
          "attributes": {
            "tnFvBDName": "{{ epg.bd }}",
            "status": "created,modified"
          }
        }
      }

      {% for tag in epg.tags | default( [] ) %}
      ,
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endfor %}

      {% for domain in epg.domains | default( [] ) %}
      ,
      {
        "fvRsDomAtt": {
          "attributes": {
            "resImedcy": "pre-provision",
            {% if domain.type == 'phy' %}
            "tDn": "uni/phys-{{ domain.name }}",
            {% else %}
            "tDn": "uni/vmmp-VMware/dom-{{ domain.name }}",
            "instrImedcy": "immediate",
            {% endif %}

            "status": "{{ 'deleted' if domain.state is defined and domain.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endfor %}

      {% for intf in epg.interfaces | default( [] ) %}
      ,
      {
        "fvRsPathAtt": {
          "attributes": {
            "instrImedcy": "immediate",
            "encap": "vlan-{{ intf.vlan }}",
            "mode": "{{ intf.mode }}",

            {% if intf.port is defined and intf.leaf_id is defined %}
            "tDn": "topology/pod-{{ intf.pod }}/paths-{{ intf.leaf_id }}/pathep-[{{ intf.port | lower }}]",
            {% elif intf.ipg is defined and intf.leaf_id is defined %}
            "tDn": "topology/pod-{{ intf.pod }}/paths-{{ intf.leaf_id }}/pathep-[{{ intf.ipg }}]",
            {% elif intf.ipg is defined and intf.leaf_id is defined and intf.peer_leaf_id %}
            "tDn": "topology/pod-{{ intf.pod }}/protpaths-{{ intf.leaf_id }}-{{ intf.peer_leaf_id }}/pathep-[{{ intf.ipg }}]",
            {% endif %}

            "status": "{{ 'deleted' if domain.state is defined and domain.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endfor %}

      {% for contract in epg.contracts | default( [] ) %}
      {% if contract.type == 'consumer' %}
      ,
      {
        "fvRsCons": {
          "attributes": {
            "tnVzBrCPName": "{{ contract.name }}",
            "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% else %}
      ,
      {
        "fvRsProv": {
          "attributes": {
            "tnVzBrCPName": "{{ contract.name }}",
            "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endif %}
      {% endfor %}

    ]
    {% endif %}
  }
}