{
  "vzFilter": {
    "attributes": {
      "name": "{{ filter_name }}",
      "status": "{{ 'deleted' if filter.state == 'absent' else 'created,modified' }}"
      {% if filter.state == 'present' %}
      ,
      "descr": "{{ filter.description | default('') }}"
      {% endif %}
    }
    {% if filter.state == 'present' %}
    ,
    "children": [
      {% for tag in filter.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

      {% if filter.tags|default([])| length > 0 and filter.entries|default([])| length > 0 %},{% endif %}

      {% for entry in filter.entries | default( [] ) %}
      {
        "vzEntry": {
          "attributes": {
            "name": "{{ entry_name_prefix ~ entry.name ~ entry_name_suffix}}",
            "status": "{{ 'deleted' if entry.state is defined and entry.state == 'absent' else 'created,modified' }}"
            {% if entry.state|default('present') != 'absent' %}
            ,
            "descr": "{{ entry.name | default('') }}",
            "etherT": "{{ entry.ethertype | default('unspecified') }}",
            "prot": "{{ entry.ip_protocol | default('unspecified') }}",
            "dFromPort": "{{ entry.from_port | default('unspecified') }}",
            "dToPort": "{{ entry.to_port | default('unspecified') }}"
            {% endif %}
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}