{
  "l3extOut": {
    "attributes": {
      "name": "{{ l3out_name }}",
      "status": "{{ 'deleted' if l3out.state is defined and l3out.state == 'absent' else 'created,modified' }}"
      {% if l3out.state | default('present') != 'absent' %}
      ,
      "descr": "{{ l3out.description | default(l3out_default_description) }}",
      "enforceRtctrl": "{{ [
            'import' if l3out.import_route_control | default(l3out_default_import_route_control) else None,
            'export' if l3out.export_route_control | default(l3out_default_export_route_control) else None
        ] | select | join(',') }}"
      {% endif %}
    }
    {% if l3out.state | default('present') != 'absent' %}
    ,
    "children": [
      {
        "l3extRsL3DomAtt":{
          "attributes":{
            "tDn":"uni/l3dom-{{ l3out.domain }}"
          }
        }
      },
      {
        "l3extRsEctx":{
          "attributes":{
            "tnFvCtxName":"{{ l3out.vrf }}"
          }
        }
      }

      {% if l3out.protocols is defined and l3out.protocols.ospf is defined %}
      ,
      {
        "ospfExtP": {
          "attributes": {
            "areaId": "{{ l3out.protocols.ospf.area_id }}",
            "areaType": "{{ l3out.protocols.ospf.area_type | default(ospf_default_area_type) }}",
            "areaCost": "{{ l3out.protocols.ospf.area_cost | default(ospf_default_area_cost) }}",
            "status": "{{ 'deleted' if l3out.protocols.ospf.state is defined and l3out.protocols.ospf.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endif %}

      {% if l3out.protocols is defined and l3out.protocols.bgp is defined %}
      ,
      {
        "bgpExtP": {
          "attributes": {
            "status": "{{ 'deleted' if l3out.protocols.bgp.state is defined and l3out.protocols.bgp.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% endif %}

      {% if l3out.tags|default([])| length > 0 %},{% endif %}
      {% for tag in l3out.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

      {% if l3out.node_profiles|default([])| length > 0 %},{% endif %}
      {% for nprof in l3out.node_profiles | default( [] ) %}
      {
        "l3extLNodeP": {
          "attributes": {
            "name": "{{ nprof.name }}",
            "status": "{{ 'deleted' if nprof.state is defined and nprof.state == 'absent' else 'created,modified' }}"
          },
          "children": [
            {% for router in nprof.routers | default( [] ) %}
            {
              "l3extRsNodeL3OutAtt": {
                "attributes": {
                  "tDn": "topology/pod-{{ router.pod }}/node-{{ router.leaf_id }}",
                  "rtrId": "{{ router.router_id }}",
                  "rtrIdLoopBack": "{{ 'yes' if router.loopback | default(router_default_loopback) else 'no' }}",
                  "status": "{{ 'deleted' if router.state is defined and router.state == 'absent' else 'created,modified' }}"
                },
                "children": [
                  {% for route in nprof.static_routes | default( [] ) %}
                  {
                    "ipRouteP": {
                      "attributes": {
                        "ip": "{{ route.prefix }}",
                        "status": "{{ 'deleted' if route.state is defined and route.state == 'absent' else 'created,modified' }}"
                      },
                      "children": [
                          {
                            "ipNexthopP": {
                              "attributes": {
                                "nhAddr": "{{ route.nhop }}",
                                "status": "{{ 'deleted' if route.state is defined and route.state == 'absent' else 'created,modified' }}"
                            }
                          }
                        }
                      ]
                    }
                  }
                  {% if not loop.last %},{% endif %}
                  {% endfor %}
                ]
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}

            {% if nprof.routers|default([])|length > 0 and nprof.interface_profiles|default([])|length > 0 %},{% endif %}

            {% for iprof in nprof.interface_profiles | default( [] ) %}
            {% set intf_buckets = iprof.interfaces | default({}) %}
            {% set typed_intfs = [] %}
            {% for intf in intf_buckets.svi | default( [] ) %}{% set _ = typed_intfs.append((intf, 'ext-svi')) %}{% endfor %}
            {% for intf in intf_buckets['sub-interface'] | default( [] ) %}{% set _ = typed_intfs.append((intf, 'sub-interface')) %}{% endfor %}
            {% for intf in intf_buckets['l3-port'] | default( [] ) %}{% set _ = typed_intfs.append((intf, 'l3-port')) %}{% endfor %}
            {
              "l3extLIfP": {
                "attributes": {
                  "name": "{{ iprof.name }}",
                  "status": "{{ 'deleted' if iprof.state is defined and iprof.state == 'absent' else 'created,modified' }}"
                },
                "children": [
                  {% for intf, intf_type in typed_intfs %}
                  {
                    "l3extRsPathL3OutAtt": {
                      "attributes": {
                        "addr": "{{ intf.addr if intf.peer_leaf_id is not defined else '0.0.0.0' }}",
                        {% if intf_type != 'l3-port' %}
                        "encap": "vlan-{{ intf.vlan }}",
                        {% endif %}
                        {% if intf_type == 'ext-svi' %}
                        "mode": "{{ intf.mode }}",
                        {% endif %}
                        "ifInstT": "{{ intf_type }}",
                        "mtu": "{{ intf.mtu | default(l3_interface_default_mtu) }}",

                        {% if intf.port is defined %}
                        "tDn": "topology/pod-{{ intf.pod }}/paths-{{ intf.leaf_id }}/pathep-[{{ intf.port | lower }}]",
                        {% elif intf.peer_leaf_id is not defined and intf.ipg is defined %}
                        "tDn": "topology/pod-{{ intf.pod }}/paths-{{ intf.leaf_id }}/pathep-[{{ intf.ipg }}]",
                        {% else %}
                        "tDn": "topology/pod-{{ intf.pod }}/protpaths-{{ intf.leaf_id }}-{{ intf.peer_leaf_id }}/pathep-[{{ intf.ipg }}]",
                        {% endif %}

                        "status": "{{ 'deleted' if intf.state is defined and intf.state == 'absent' else 'created,modified' }}"
                      },
                      "children": [
                        {% set has_members = intf.peer_leaf_id is defined and intf.ipg is defined %}
                        {% set has_conn_profiles = intf.connectivity_profiles | default( [] ) | length > 0 %}
                        {% if has_members %}
                        {
                          "l3extMember":{
                            "attributes":{
                              "addr": "{{ intf.addr }}",
                              "side": "A"
                            }
                          }
                        },
                        {
                          "l3extMember":{
                            "attributes":{
                              "addr": "{{ intf.peer_addr }}",
                              "side": "B"
                            }
                          }
                        }
                        {% endif %}
                        {% if has_members and has_conn_profiles %},{% endif %}
                        {% for peer in intf.connectivity_profiles | default( [] ) %}
                        {% include "bgp_peer.json.j2" %}
                        {% if not loop.last %},{% endif %}
                        {% endfor %}
                      ]
                    }
                  }
                  {% if not loop.last %},{% endif %}
                  {% endfor %}

                ]
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}