{
    "rtctrlAttrP": {
        "attributes": {
            "name": "{{ set_rule.name }}",
            "status": "{{ 'deleted' if set_rule.state is defined and set_rule.state == 'absent' else 'created,modified' }}"
            {% if set_rule.state | default('present') != 'absent' %}
            ,
            "descr": "{{ set_rule.description | default(set_rule_default_description) }}"
            {% endif %}
        }
        {% if set_rule.state | default('present') != 'absent' %}
        ,
        "children": [
            {% for tag in set_rule.tags | default( [] ) %}
            {
                "tagAnnotation": {
                    "attributes": {
                        "key": "{{ tag.name }}",
                        "value": "{{ tag.value }}",
                        "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
                    }
                }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}

            {% if set_rule.tags|default([])| length > 0 and set_rule.as_path|default([])| length > 0 %},{% endif %}

            {% if set_rule.as_path|default([])| length > 0 %}
            {
                "rtctrlSetASPath": {
                    "attributes": {
                        "criteria": "prepend",
                        "type": "as-path"
                    },
                    "children": [
                        {% for hop in set_rule.as_path %}
                        {
                            "rtctrlSetASPathASN": {
                                "attributes": {
                                    "asn": "{{ hop.asn }}",
                                    "order": "{{ hop.order }}",
                                    "status": "{{ 'deleted' if hop.state is defined and hop.state == 'absent' else 'created,modified' }}"
                                    {% if hop.state | default('present') != 'absent' %}
                                    ,
                                    "descr": "{{ hop.description | default(set_rule_as_path_default_description) }}"
                                    {% endif %}
                                }
                            }
                        }
                        {% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                }
            }
            {% endif %}
        ]
        {% endif %}
    }
}
