{
  "fvTenant": {
    "attributes": {
      "name": "{{ tenant_name }}",
      "status": "{{ 'deleted' if tenant.state is defined and tenant.state == 'absent' else 'created,modified' }}",
      "descr": "{{ tenant.description | default(tenant_default_description) }}"
    }
    {% if tenant.state | default('present') != 'absent' %}
    ,
    "children": [
      {% for tag in tenant.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

    ]
    {% endif %}
  }
}