{
  "fvCtx": {
    "attributes": {
      "name": "{{ vrf_name }}",
      "status": "{{ 'deleted' if vrf.state == 'absent' else 'created,modified' }}"
      {% if vrf.state == 'present' %}
      ,
      "descr": "{{ vrf.description | default('') }}"
      {% endif %}
    }
    {% if vrf.state == 'present' %}
    ,
    "children": [
      {% for tag in vrf.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      },
      {% endfor %}
      {
        "vzAny": {
          "attributes": {},
          "children": [
            {% for contract in vrf.contracts | default( [] ) %}

            {% if contract.type == 'consumer' %}
            {
              "vzRsAnyToCons": {
                "attributes": {
                  "tnVzBrCPName": "{{ contract.name }}",
                  "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% else %}
            {
              "vzRsAnyToProv": {
                "attributes": {
                  "tnVzBrCPName": "{{ contract.name }}",
                  "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% endif %}

            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% if vrf.ipv4_route_targets is defined %}
      ,
      {
        "bgpRtTargetP": {
          "attributes": {
            "af": "ipv4-ucast"
          },
          "children": [
            {% for rt in vrf.ipv4_route_targets | default( [] ) %}
            {
              "bgpRtTarget": {
                "attributes": {
                  "rt": "{{ rt.value }}",
                  "type": "{{ rt.type }}",
                  "status": "{{ 'deleted' if rt.state is defined and rt.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% endif %}

      {% if vrf.ipv4_route_targets is defined and vrf.ipv6_route_targets is defined %},{% endif %}

      {% if vrf.ipv6_route_targets is defined %}
      {
        "bgpRtTargetP": {
          "attributes": {
            "af": "ipv6-ucast"
          },
          "children": [
            {% for rt in vrf.ipv6_route_targets | default( [] ) %}
            {
              "bgpRtTarget": {
                "attributes": {
                  "rt": "{{ rt.name }}",
                  "type": "{{ rt.type }}",
                  "status": "{{ 'deleted' if rt.state is defined and rt.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      },
      {% endif %}
    ]
    {% endif %}
  }
}