{
  "fvCtx": {
    "attributes": {
      "name": "{{ vrf_name }}",
      "status": "{{ 'deleted' if vrf.state is defined and vrf.state == 'absent' else 'created,modified' }}"
      {% if vrf.state | default('present') != 'absent' %}
      ,
      "descr": "{{ vrf.description | default(vrf_default_description) }}",
      "pcEnfPref": "{{ vrf.enforcement | default(vrf_default_enforcement) }}"
      {% endif %}
    }
    {% if vrf.state | default('present') != 'absent' %}
    ,
    "children": [
      {% for tag in vrf.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      },
      {% endfor %}
      {
        "vzAny": {
          "attributes": {
            "prefGrMemb": "{{ vrf.preferred_group | default(vrf_default_preferred_group) }}"
          },
          "children": [
            {% for contract in vrf.contracts | default( [] ) %}
            {% if contract.type == 'consumer' %}
            {
              "vzRsAnyToCons": {
                "attributes": {
                  "tnVzBrCPName": "{{ contract.name }}",
                  "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% else %}
            {
              "vzRsAnyToProv": {
                "attributes": {
                  "tnVzBrCPName": "{{ contract.name }}",
                  "status": "{{ 'deleted' if contract.state is defined and contract.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% endif %}
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% if vrf.ipv4_route_targets | default( [] ) | length > 0 %}
      ,
      {
        "bgpRtTargetP": {
          "attributes": {
            "af": "ipv4-ucast"
          },
          "children": [
            {% for rt in vrf.ipv4_route_targets %}
            {
              "bgpRtTarget": {
                "attributes": {
                  "rt": "{{ rt.name }}",
                  "type": "{{ rt.type }}",
                  "status": "{{ 'deleted' if rt.state is defined and rt.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% endif %}
      {% if vrf.PIM is defined %}
      ,
      {% set pim_ctrl_flags = [] %}
      {% if vrf.PIM['fast-convergence'] | default(vrf_pim_default_fast_convergence) %}{% set _ = pim_ctrl_flags.append('fast-conv') %}{% endif %}
      {% if vrf.PIM['strict-RFC-compliant'] | default(vrf_pim_default_strict_rfc_compliant) %}{% set _ = pim_ctrl_flags.append('strict-rfc-compliant') %}{% endif %}
      {
        "pimCtxP": {
          "attributes": {
            "mtu": "{{ vrf.PIM.mtu | default(vrf_pim_default_mtu) }}",
            "ctrl": "{{ pim_ctrl_flags | join(',') }}",
            "status": "{{ 'deleted' if vrf.PIM.state is defined and vrf.PIM.state == 'absent' else 'created,modified' }}"
          }
          {% if vrf.PIM.static_rp | default( [] ) | length > 0 %}
          ,
          "children": [
            {
              "pimStaticRPPol": {
                "attributes": {},
                "children": [
                  {% for static_rp in vrf.PIM.static_rp %}
                  {% include "vrf_static_rp.json.j2" %}
                  {% if not loop.last %},{% endif %}
                  {% endfor %}
                ]
              }
            }
          ]
          {% endif %}
        }
      }
      {% endif %}
      {% if vrf.ipv6_route_targets | default( [] ) | length > 0 %}
      ,
      {
        "bgpRtTargetP": {
          "attributes": {
            "af": "ipv6-ucast"
          },
          "children": [
            {% for rt in vrf.ipv6_route_targets %}
            {
              "bgpRtTarget": {
                "attributes": {
                  "rt": "{{ rt.name }}",
                  "type": "{{ rt.type }}",
                  "status": "{{ 'deleted' if rt.state is defined and rt.state == 'absent' else 'created,modified' }}"
                }
              }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
      {% endif %}
    ]
    {% endif %}
  }
}
