{
    "cdpIfPol": {
        "attributes": {
            "name": "{{ pol_name }}",
            "status": "{{ 'deleted' if pol.state == 'absent' else 'created,modified' }}"

            {% if pol.state == 'present' %}
            ,
            "descr": "{{ pol.description | default('') }}",
            "adminSt": "{{ pol.admin_state }}"
            {% endif %}
        }
    }
}