{
    "fabricHIfPol": {
        "attributes": {
            "name": "{{ pol_name }}",
            "status": "{{ 'deleted' if pol.state is defined and pol.state == 'absent' else 'created,modified' }}"

            {% if pol.state | default('present') != 'absent' %}
            ,
            "descr": "{{ pol.description | default(ll_policy_default_description) }}",
            "autoNeg": "{{ 'on' if pol.auto_negotiation else 'off' }}",
            "speed": "{{ pol.speed }}"
            {% endif %}
        }
        {% if pol.state | default('present') != 'absent' %}
        ,
        "children": [
            {% for tag in pol.tags | default( [] ) %}
            {
                "tagAnnotation": {
                    "attributes": {
                        "key": "{{ tag.name }}",
                        "value": "{{ tag.value }}",
                        "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
                    }
                }
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
        ]
        {% endif %}
    }
}
