{
  "infraAccPortP": {
    "attributes": {
      "name": "{{ leaf_intf_prof_name }}",
      "status": "{{ 'deleted' if leaf_intf_prof.state == 'absent' else 'created,modified' }}"

      {% if leaf_intf_prof.state == 'present' %}
      ,
      "descr": "{{ leaf_intf_prof.description | default('') }}"
      {% endif %}
    }
    {% if leaf_intf_prof.state == 'present' %}
    ,
    "children": [
      {% for tag in leaf_intf_prof.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}