{
  "fvnsVlanInstP": {
    "attributes": {
      "name": "{{ pool_name }}",
      "status": "{{ 'deleted' if pool.state is defined and pool.state == 'absent' else 'created,modified' }}"
      {% if pool.state | default('present') != 'absent' %}
      ,
      "descr": "{{ pool.description | default(vlan_pool_default_description) }}",
      "allocMode": "{{ pool.allocation_mode | default(vlan_pool_default_allocation_mode) }}"
      {% endif %}
    }
    {% if pool.state | default('present') != 'absent' %}
    ,
    "children": [
      {% for tag in pool.tags | default( [] ) %}
      {
        "tagAnnotation": {
          "attributes": {
            "key": "{{ tag.name }}",
            "value": "{{ tag.value }}",
            "status": "{{ 'deleted' if tag.state is defined and tag.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}

      {% if pool.tags|default([])|length > 0 and pool.ranges|default([])|length > 0 %},{% endif %}
      {% for range in pool.ranges | default( [] ) %}
      {
        "fvnsEncapBlk": {
          "attributes": {
            "from": "vlan-{{ range.from_ }}",
            "to": "vlan-{{ range.to_ }}",
            "descr": "{{ range.description | default(vlan_range_default_description) }}",
            "role": "{{ range.role | default(vlan_range_default_role) }}",
            "allocMode": "{{ range.allocation_mode | default(vlan_range_default_allocation_mode) }}",
            "status": "{{ 'deleted' if range.state is defined and range.state == 'absent' else 'created,modified' }}"
          }
        }
      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    {% endif %}
  }
}