---
- name: Process AAEP
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'aaep.json.j2') }}"
    dn: "/api/mo/uni/infra/attentp-{{ aaep.name }}"

  loop: "{{ aaeps }}"
  loop_control:
    loop_var: aaep
    label: "{{ aaep.name }}"

  when:
    - aaep.state is defined

  no_log: true

