---
- name: Process Physical Domain
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni.json"
    payload: "{{ lookup('template', 'dom_phy.json.j2') }}"
    dn: "/api/mo/uni/phys-{{ dom.name }}"
    dom_name: "{{ dom_name_prefix ~ dom.name ~ dom_name_suffix }}"

  loop: "{{ (domains.physical if domains is defined and domains.physical is defined else []) }}"
  loop_control:
    loop_var: dom
    label: "{{ dom.name }}"

  when:
    - dom.state is defined

  no_log: true


- name: Process L3Out Domain
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni.json"
    payload: "{{ lookup('template', 'dom_l3ext.json.j2') }}"
    dn: "/api/mo/uni/l3dom-{{ dom.name }}"
    dom_name: "{{ dom_name_prefix ~ dom.name ~ dom_name_suffix }}"

  loop: "{{ (domains.l3_external if domains is defined and domains.l3_external is defined else []) }}"
  loop_control:
    loop_var: dom
    label: "{{ dom.name }}"

  when:
    - dom.state is defined

  no_log: true
