---
- set_fact:
    aci_cred: &aci_login
      host: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      use_proxy: no
      use_ssl: yes
      validate_certs: no
      annotation: orchestrator:ansible
  no_log: true


- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_cdp.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.cdp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined

- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_lldp.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.lldp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined

# - cisco.aci.aci_interface_policy_lldp:
#     <<: *aci_login
#     lldp_policy: "{{ item.name }}"
#     description: "{{ item.description | default('') }}"
#     receive_state: "{{ item.receive }}"
#     transmit_state: "{{ item.transmit }}"
#     state: "{{ item.state | default('present') }}"
#   loop: "{{ intf_policies.lldp | default( [] ) }}"
#   loop_control:
#     label: "{{ item.name }}"
#   delegate_to: localhost

# - cisco.aci.aci_interface_policy_cdp:
#     <<: *aci_login
#     name: "{{ item.name }}"
#     description: "{{ item.description | default('') }}"
#     admin_state: "{{ item.admin_state }}"
#     state: "{{ item.state | default('present') }}"
#   loop: "{{ intf_policies.cdp | default( [] ) }}"
#   loop_control:
#     label: "{{ item.name }}"
#   delegate_to: localhost

# - cisco.aci.aci_interface_policy_mcp:
#     <<: *aci_login
#     mcp: "{{ item.name }}"
#     description: "{{ item.description | default('') }}"
#     admin_state: "{{ item.admin_state }}"
#     state: "{{ item.state | default('present') }}"
#   loop: "{{ intf_policies.mcp | default( [] ) }}"
#   loop_control:
#     label: "{{ item.name }}"
#   delegate_to: localhost

# - cisco.aci.aci_interface_policy_port_channel:
#     <<: *aci_login
#     port_channel: "{{ item.name }}"
#     description: "{{ item.description | default('') }}"
#     min_links: "{{ item.min }}"
#     max_links: "{{ item.max }}"
#     mode: "{{ item.mode }}"
#     state: "{{ item.state | default('present') }}"
#   loop: "{{ intf_policies.po | default( [] ) }}"
#   loop_control:
#     label: "{{ item.name }}"
#   delegate_to: localhost
