---
- set_fact:
    aci_cred: &aci_login
      host: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      use_proxy: no
      use_ssl: yes
      validate_certs: no
      annotation: orchestrator:ansible
  no_log: true


- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_cdp.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.cdp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined

- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_lldp.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.lldp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined

- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_mcp.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.mcp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined

- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/mo/uni/infra.json"
    content: "{{ lookup('template', 'intf_pol_lag.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ intf_policies.lag | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"
  when:
    - pol.state is defined
