---
- name: Process CDP Policy
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'intf_pol_cdp.json.j2') }}"
    dn: "uni/infra/cdpIfP-{{ pol.name }}"
    pol_name: "{{ intf_pol_name_prefix ~ pol.name ~ intf_pol_name_suffix }}"

  loop: "{{ intf_policies.cdp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"

  when:
    - pol.state is defined

  no_log: true


- name: Process LLDP Policy
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'intf_pol_lldp.json.j2') }}"
    dn: "/api/mo/uni/infra/lldpIfP-{{ pol.name }}"
    pol_name: "{{ intf_pol_name_prefix ~ pol.name ~ intf_pol_name_suffix }}"

  loop: "{{ intf_policies.lldp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"

  when:
    - pol.state is defined

  no_log: true


- name: Process MCP Policy
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'intf_pol_mcp.json.j2') }}"
    dn: "/api/mo/uni/infra/mcpIfP-{{ pol.name }}"
    pol_name: "{{ intf_pol_name_prefix ~ pol.name ~ intf_pol_name_suffix }}"

  loop: "{{ intf_policies.mcp | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"

  when:
    - pol.state is defined

  no_log: true


- name: Process LAG Policy
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'intf_pol_lag.json.j2') }}"
    dn: "/api/mo/uni/infra/lacplagp-{{ pol.name }}"
    pol_name: "{{ intf_pol_name_prefix ~ pol.name ~ intf_pol_name_suffix }}"

  loop: "{{ intf_policies.lag | default( [] ) }}"
  loop_control:
    loop_var: pol
    label: "{{ pol.name }}"

  when:
    - pol.state is defined

  no_log: true
