---
- name: Process Access IPG
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra/funcprof/accportgrp-{{ ipg.name }}.json"
    payload: "{{ lookup('template', 'ipg_access.json.j2') }}"
    dn: "/api/mo/uni/infra/funcprof/accportgrp-{{ ipg.name }}"

  loop: "{{ intf_policy_groups }}"
  loop_control:
    loop_var: ipg
    label: "{{ ipg.name }}"

  when:
    - ipg.state is defined
    - ipg.type == 'access'

  no_log: true


- name: Process Po/vPC IPG
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra/funcprof/accbundle-{{ ipg.name }}.json"
    payload: "{{ lookup('template', 'ipg_po.json.j2') }}"
    dn: "/api/mo/uni/infra/funcprof/accbundle-{{ ipg.name }}"

  loop: "{{ intf_policy_groups }}"
  loop_control:
    loop_var: ipg
    label: "{{ ipg.name }}"

  when:
    - ipg.state is defined
    - ipg.type != 'access'

  no_log: true