---
- name: Process Leaf Interface Profile
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'leaf_intf_prof.json.j2') }}"
    dn: "/api/mo/uni/infra/accportprof-{{ leaf_intf_prof.name }}"

  loop: "{{ leaf_intf_profiles }}"
  loop_control:
    loop_var: leaf_intf_prof
    label: "{{ leaf_intf_prof.name }}"

  when:
    - leaf_intf_prof.state is defined

  no_log: true
