---
- set_fact:
    aci_cred: &aci_login
      host: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      use_proxy: no
      use_ssl: yes
      validate_certs: no
      annotation: orchestrator:ansible
    no_log: true

- aci_rest:
    <<: *aci_login
    method: post
    path: "/api/node/mo/uni/infra.json"
    content: "{{ lookup('template', 'leaf_prof.json.j2') | from_yaml | to_json }}"

  delegate_to: localhost
  loop: "{{ leaf_profiles }}"
  loop_control:
    loop_var: leaf_prof
    label: "{{ leaf_prof.name }}"
  when:
    - leaf_prof.state is defined