---
- name: Process VLAN Pool
  include_tasks: wrapper_api_call.yml

  vars:
    path: "/api/mo/uni/infra.json"
    payload: "{{ lookup('template', 'vlan_pool.json.j2') }}"
    dn: "/api/mo/uni/infra/vlanns-{{ pool.name }}"

  loop: "{{ vlan_pools }}"
  loop_control:
    loop_var: pool
    label: "{{ pool.name }}"

  when:
    - pool.state is defined

  no_log: true
