---
- name: Process AAEP
  include_tasks: wrapper_api_call.yml

  vars:
    intf_name: "{{ intf.name if intf.name is defined else 'eth' ~ intf.card ~ '_' ~ intf.port }}"
    ipg_type: "{{  ipg_to_type_map[ intf.intf_pol_group ][ 'ipg_type'] }}"
    intf_prof: "{{ node.vpc_intf_profile if ipg_to_type_map[ intf.intf_pol_group ]['lag_type'] == 'vpc' else node.intf_profile }}"
    path: "/api/mo/uni/infra/accportprof-{{ intf_prof }}/hports-{{ intf_name }}-typ-range.json"
    payload: "{{ lookup('template', 'intf_selector.json.j2') }}"
    dn: "/api/mo/uni/infra/accportprof-{{ intf_prof }}/hports-{{ intf_name }}-typ-range"

  loop: "{{ node.interfaces | default([]) }}"
  loop_control:
    loop_var: intf
    label: "{{ [ node.name, intf.intf_pol_group ] | join('/') }}"

  when:
    - intf.state is defined

  no_log: true
